@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: hsl(0, 0%, 5%);
    overflow: hidden;
}

.gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    border: 1px solid red;
}

.gallery {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    width: 150%;
    border: 3px solid blue;

    .pic {
        position: absolute;
        height: 8%;
        width: 5%;
        background-color: rgb(47, 45, 142);
        border-radius: 8px;
    }

    .pic:nth-child(1) {
        top: 3%;
        left: 5%;
        background-color: rgb(45, 106, 142);
    }


    .pic:nth-child(2) {
        top: 32%;
        left: 11%;
        background-color: rgb(142, 45, 45);
    }

    .pic:nth-child(3) {
        top: 16%;
        left: 24%;
        background-color: rgb(103, 45, 142);
    }

    .pic:nth-child(4) {
        top: 28%;
        left: 56%;
        background-color: rgb(142, 97, 45);
    }

    .pic:nth-child(5) {
        top: 62%;
        left: 3%;
        background-color: rgb(66, 45, 142);
    }

    .pic:nth-child(6) {
        top: 42%;
        left: 21%;
        background-color: rgb(142, 136, 45);
    }

    .pic:nth-child(7) {
        top: 58%;
        left: 41%;
        background-color: rgb(45, 142, 64);
    }

    .pic:nth-child(8) {
        top: 82%;
        left: 72%;
        background-color: rgb(45, 110, 142);
    }

    .pic:nth-child(9) {
        top: 90%;
        left: 23%;
        background-color: rgb(45, 106, 142);
    }


    .pic:nth-child(10) {
        top: 82%;
        left: 11%;
        background-color: rgb(142, 45, 45);
    }

    .pic:nth-child(11) {
        top: 71%;
        left: 24%;
        background-color: rgb(103, 45, 142);
    }

    .pic:nth-child(12) {
        top: 80%;
        left: 56%;
        background-color: rgb(142, 97, 45);
    }

    .pic:nth-child(13) {
        top: 62%;
        left: 60%;
        background-color: rgb(66, 45, 142);
    }

    .pic:nth-child(14) {
        top: 76%;
        left: 89%;
        background-color: rgb(142, 136, 45);
    }

    .pic:nth-child(15) {
        top: 12%;
        left: 81%;
        background-color: rgb(45, 142, 64);
    }

    .pic:nth-child(16) {
        top: 56%;
        left: 80%;
        background-color: rgb(45, 110, 142);
    }

    .pic:nth-child(17) {
        top: 12%;
        left: 48%;
        background-color: rgb(66, 45, 142);
    }

    .pic:nth-child(18) {
        top: 36%;
        left: 73%;
        background-color: rgb(142, 136, 45);
    }

    .pic:nth-child(19) {
        top: 30%;
        left: 36%;
        background-color: rgb(45, 142, 64);
    }

    .pic:nth-child(20) {
        top: 29%;
        left: 88%;
        background-color: rgb(45, 110, 142);
    }
}