@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: hsl(0, 0%, 5%);
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.gallery {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    width: 150%;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;

    .pic {
        cursor: pointer;
        position: absolute;
        height: 9%;
        width: 7%;
        background-color: rgb(47, 45, 142);
        border-radius: 8px;
        transform: scale(1);
        transition: transform 0.5s ease-in-out;

        div {
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 8px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
            ;
        }
    }

    .pic:hover {
        transform: scale(1.2);

        div {
            opacity: 1;
            transform: scale(1.01);
        }
    }

    .pic:nth-child(1) {
        top: 3%;
        left: 5%;
        background-color: rgb(212, 121, 35);

        div {
            background-image: url("https://images.unsplash.com/photo-1680009084520-42528e128a0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
        }
    }


    .pic:nth-child(2) {
        top: 32%;
        left: 11%;
        height: 8%;
        width: 8%;
        background-color: rgb(16, 95, 197);

        div {
            background-image: url("https://images.unsplash.com/photo-1594548044919-75fd146b8c60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");
        }
    }

    .pic:nth-child(3) {
        top: 16%;
        left: 24%;
        height: 10%;
        width: 8%;
        background-color: rgb(123, 211, 135);

        div {
            background-image: url("https://images.unsplash.com/photo-1543362906-acfc16c67564?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");
        }
    }

    .pic:nth-child(4) {
        top: 28%;
        left: 56%;
        height: 11%;
        width: 8%;
        background-color: rgb(212, 82, 31);

        div {
            background-image: url("https://images.unsplash.com/photo-1517816428104-797678c7cf0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        }
    }

    .pic:nth-child(5) {
        top: 62%;
        left: 3%;
        height: 9%;
        width: 7%;
        background-color: rgb(57, 192, 233);

        div {
            background-image: url("https://images.unsplash.com/photo-1552010099-5dc86fcfaa38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
        }
    }

    .pic:nth-child(6) {
        top: 42%;
        left: 21%;
        height: 8%;
        width: 11%;
        background-color: rgb(180, 218, 224);

        div {
            background-image: url("https://images.unsplash.com/photo-1458819714733-e5ab3d536722?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
        }
    }

    .pic:nth-child(7) {
        top: 58%;
        left: 41%;
        background-color: rgb(226, 19, 19);

        div {
            background-image: url("https://images.unsplash.com/photo-1565622871630-8e453c4b6ed9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
        }
    }

    .pic:nth-child(8) {
        top: 82%;
        left: 72%;
        height: 12%;
        width: 8%;
        background-color: rgb(236, 206, 31);

        div {
            background-image: url("https://images.unsplash.com/photo-1557180295-76eee20ae8aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
        }
    }

    .pic:nth-child(9) {
        top: 90%;
        left: 23%;
        height: 8%;
        width: 9%;
        background-color: rgb(19, 113, 201);

        div {
            background-image: url("https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        }
    }


    .pic:nth-child(10) {
        top: 82%;
        left: 11%;
        height: 6%;
        width: 8%;
        background-color: rgb(122, 221, 205);

        div {
            background-image: url("https://images.unsplash.com/photo-1496365597860-f19cab8ecdaf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80");
        }
    }

    .pic:nth-child(11) {
        top: 71%;
        left: 24%;
        height: 8%;
        width: 9%;
        background-color: rgb(238, 172, 213);

        div {
            background-image: url("https://images.unsplash.com/photo-1567653418876-5bb0e566e1c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
        }
    }

    .pic:nth-child(12) {
        top: 80%;
        left: 56%;
        background-color: rgb(209, 115, 27);

        div {
            background-image: url("https://images.unsplash.com/photo-1515974256630-babc85765b1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        }
    }

    .pic:nth-child(13) {
        top: 62%;
        left: 60%;
        height: 7%;
        width: 9%;
        background-color: rgb(71, 184, 250);

        div {
            background-image: url("https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");
        }
    }

    .pic:nth-child(14) {
        top: 76%;
        left: 85%;
        height: 11%;
        width: 9%;
        background-color: rgb(245, 186, 60);

        div {
            background-image: url("https://images.unsplash.com/photo-1531525645387-7f14be1bdbbd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
        }
    }

    .pic:nth-child(15) {
        top: 12%;
        left: 81%;
        height: 12%;
        width: 8%;
        background-color: rgb(1, 125, 226);

        div {
            background-image: url("https://images.unsplash.com/photo-1536370430903-70f04cb7ab0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        }
    }

    .pic:nth-child(16) {
        top: 56%;
        left: 80%;
        background-color: rgb(197, 9, 9);

        div {
            background-image: url("https://images.unsplash.com/photo-1503631285924-e1544dce8b28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
        }
    }

    .pic:nth-child(17) {
        top: 8%;
        left: 48%;
        height: 14%;
        width: 10%;
        background-color: rgb(162, 212, 219);

        div {
            background-image: url("https://images.unsplash.com/photo-1680034200933-09075ddb0843?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
        }
    }

    .pic:nth-child(18) {
        top: 36%;
        left: 73%;
        background-color: rgb(238, 145, 173);

        div {
            background-image: url("https://images.unsplash.com/photo-1487837647815-bbc1f30cd0d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
        }
    }

    .pic:nth-child(19) {
        top: 30%;
        left: 36%;
        background-color: rgb(255, 233, 186);

        div {
            background-image: url("https://images.unsplash.com/photo-1618503762595-117487457a24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
        }
    }

    .pic:nth-child(20) {
        top: 29%;
        left: 88%;
        height: 8%;
        width: 9%;
        background-color: rgb(9, 139, 68);

        div {
            background-image: url("https://images.unsplash.com/photo-1536147116438-62679a5e01f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
        }
    }
}